/* Google fonts:   
    font-family: 'Alata', sans-serif;
    font-family: 'Alef', sans-serif;
    font-family: 'Arima Madurai', cursive;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Ropa Sans', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Play', sans-serif;
    font-family: 'Roboto', sans-serif; 
    */
body {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #bbb;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;
    
}
nav a:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}
nav li {
    padding: 0.5em 0;
    
}
span {
    
    font-weight: bold;
}
